<link rel="stylesheet" href="/style.css">
<footer class="footer-section text-white py-4">
    <div class="container-fluid">
      <div class="row text-start">
        <div class="col-md-5">
          <h6 class="fw-bold text-warning">Suvidha Foundation (Suvidha Mahila Mandal)</h6>
          <p class="mb-1 fw-bold">Office Headquarters -</p>
          <p class="mb-1"><span class="fw-bold text-warning">Nagpur Headquarter:</span><br>
            Suvidha Foundation’s Yogshree Bhawan, Ward No 4, Sambhognar, Amaravati Road Near Tekdi, Krapekheda, Saoner, Nagpur, Maharashtra, India Pincode - 441102
          </p>
          <p class="mb-1"><span class="fw-bold text-warning">Hyderabad Headquarter:</span><br>
            Vazra Nirman Pushpak, C Block 701, 500090, Hyderabad
          </p>
          <div>
    <a href="https://www.instagram.com/suvidhafoundation" target="_blank" class="text-white me-3">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/company/suvidhafoundation" target="_blank" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
        </div>

        <div class="col-md-3">
          <h6 class="fw-bold text-warning">Certificates</h6>
          <ul class="list-unstyled">
            <!-- <a href="/certificates/80g_certificate.pdf" target="_blank" download>
  80G Certificate
</a> -->
            <li><a href="/assets/80G_APROVAL.pdf" target="_blank" class="footer-link">80G Certificate</a></li>
            <li><a href="/assets/12A_APPROVAL.pdf" target="_blank" class="footer-link">12A Certificate</a></li>
            <li><a href="/assets/CSR.pdf" target="_blank" class="footer-link">CSR Certificate</a></li>
            <li><a href="/assets/suvidha_darpan_portal_registration.pdf" target="_blank" class="footer-link">Suvidha Darpan Registration</a></li>
            <li><a href="/assets/suvidha_pan_card.pdf" target="_blank" class="footer-link">Suvidha Pan Card</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h6 class="fw-bold text-warning">Useful Links</h6>
          <ul class="list-unstyled">
            <li><a href="/verify-certificate" class="footer-link">Verify Your Certificate</a></li>
            <!-- <li><a href="#" class="footer-link">Free Kids Coding Bootcomp</a></li> -->
            <li><a href="/privacy" class="footer-link">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="text-center mt-4 small">
        © Suvidha Foundation (Suvidha Mahila Mandal), All Right Reserved.<br>
        By Suvidha Foundation
      </div>
    </div>
  </footer>
<!--END OF FOOTER-->
<!-- </footer> -->
