<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Suvidha Foundation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- Top Bar -->
 <div class="top-bar text-white py-1 px-3 d-flex justify-content-between align-items-center bg-darkGray">
  <div>
    <a href="tel:+917620086320" class="text-white text-decoration-none me-3">
      <i class="fas fa-phone-alt me-2"></i>+91 7620086320
    </a>
    <span class="mx-2">|</span>
    <a href="mailto:info@suvidhafoundationedutech.org" class="text-white text-decoration-none">
      <i class="fas fa-envelope me-2"></i>info@suvidhafoundationedutech.org
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/suvidhafoundation" target="_blank" class="text-white me-3">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/company/suvidhafoundation" target="_blank" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg px-3">
    <a class="navbar-brand fw-bold text-warning" href="/">SUVIDHA FOUNDATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="btn btn-warning me-2" href="https://docs.google.com/forms/d/e/1FAIpQLSe4vDnye2muE9yynJek6Swvamie2Idbu-LWAhQa0oMus5KJDg/viewform">Apply For Internship</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning me-4" href="/donate">Help Now</a>
        </li>
        <li class="nav-item"><a class="nav-link text-white .btn-warning " href="/events">Events</a></li>
        <li class="nav-item"><a class="nav-link text-white .btn-warning " href="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link text-white .btn-warning " href="/donors">Our Donors</a></li>
        <li class="nav-item"><a class="nav-link text-white .btn-warning " href="https://docs.google.com/forms/d/e/1FAIpQLSfAaaHU-k256CY6_83JPBOYeVFtKuKBvqMJb7oBIsDLKRmwNg/viewform">Contact</a></li>
      </ul>
    </div>
  </nav>

</html>