<% layout('layouts/boilerplate') %>
<body>
  <h1>Thank You For Your Contribution</h1>
  <h2>"Every contribution brings us closer to our goals"</h2>
  <table class="table table-success table-striped-columns">
    <tr>
      <th>Name of donor</th>
      <th>Amount in rupees</th>
    </tr>
    <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>
      <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>  <tr>
      <td>PATHIK RAMESH JUTHANI</td>
        <td>10,000</td>	

    </tr>
  </table>
</body>