<% layout('layouts/boilerplate') %>

<style>
  .fixed-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
</style>

<body>
 

  <div class="row m-3 align-items-stretch justify-content-center card-grid">
 <h1>Our Charity Events: Celebrating Our Impact Together</h1>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
        <div class="card-body">
          <h5 class="card-title">Tree Plantation</h5>
          <p class="card-text">Join us in nurturing the Earth's embrace, one tree at a time. Together, let's create a greener tomorrow and breathe life into our planet.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/fund.jpg" class="card-img-top img-fluid fixed-img" alt="Fundraising Events">
        <div class="card-body">
          <h5 class="card-title">Fundraising Events</h5>
          <p class="card-text">Unlock the power of generosity at our Fundraising Event. Your support will ignite positive change and uplift lives in our community.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/women's.jpg" class="card-img-top img-fluid fixed-img" alt="Women's Day">
        <div class="card-body">
          <h5 class="card-title">Women's Day</h5>
          <p class="card-text">Celebrating the strength, resilience, and achievements of women worldwide on this special Women's Day. Together, let's honor their contributions.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/food_donation.jpg" class="card-img-top img-fluid fixed-img" alt="Food Donation">
        <div class="card-body">
          <h5 class="card-title">Food Donation Initiatives by Our NGO</h5>
          <p class="card-text">Your generous contributions can fill empty plates and bring smiles to those in need. Together, we can create a world where everyone has access to nutritious meals.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/healthy_food.jpg" class="card-img-top img-fluid fixed-img" alt="Healthy Food">
        <div class="card-body">
          <h5 class="card-title">Healthy Food</h5>
          <p class="card-text">By focusing on healthy food donations, our NGO aims to improve the well-being and quality of life for individuals and communities in need.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/animal_feeding.jpg" class="card-img-top img-fluid fixed-img" alt="Animal Feeding">
        <div class="card-body">
          <h5 class="card-title">Ensuring Happy and Healthy Animals through Feeding Programs</h5>
          <p class="card-text">Join us in providing sustenance and compassion to our furry companions. Together, let's make a positive impact on their lives through our Animal Feeding event.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/sanitary_distribution.jpg" class="card-img-top img-fluid fixed-img" alt="Sanitary Pads Distribution">
        <div class="card-body">
          <h5 class="card-title">Sanitary Pads Distribution</h5>
          <p class="card-text">Breaking barriers and promoting menstrual health with our Sanitary Pad Initiative. Together, let's empower women and ensure access to safe and dignified hygiene.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill h-100">
        <img src="/assets/workshops.jpg" class="card-img-top img-fluid fixed-img" alt="Free Workshops">
        <div class="card-body">
          <h5 class="card-title">Free Workshops</h5>
          <p class="card-text">Discover new skills, ignite your passions, and embrace lifelong learning with our engaging and enriching free workshops.</p>
        </div>
      </div>
    </div>

  </div>
</body>
