<% layout('layouts/boilerplate') %>

<style>
  .fixed-img {
    height: 200px;
    /* width:200px; */
    object-fit: cover;
    width: 100%;
  }
 
</style>

<body>
 

  <div class="row m-3 align-items-stretch justify-content-center card-grid">
 <h1>Moments of Impact: Capturing the Journey of Our NGO</h1>

<div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/workshops" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Free Workshop">
          <div class="card-body">
            <h5 class="card-title">Free Workshops</h5>
          </div>
        </div>
      </a>
    </div>

 <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/books" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Books Distribution</h5>
          </div>
        </div>
      </a>
    </div>

 <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/online" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Online Events</h5>
          </div>
        </div>
      </a>
    </div>

 <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/free" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Free Workshops</h5>
          </div>
        </div>
      </a>
    </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/clothes" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Clothes Distribution</h5>
          </div>
        </div>
      </a>
    </div>

 <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/trees" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Tree Plantation</h5>
          </div>
        </div>
      </a>
    </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/education" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Free Education</h5>
          </div>
        </div>
      </a>
    </div>

 <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/women" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Women's Day</h5>
          </div>
        </div>
      </a>
    </div>
   <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/food" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Food Distribution</h5>
          </div>
        </div>
      </a>
    </div>
  <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/suv_events" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Suvidha Events</h5>
          </div>
        </div>
      </a>
    </div>
     <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/emp_women" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Empowering Women</h5>
          </div>
        </div>
      </a>
    </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex">
      <a href="/animal" class="text-decoration-none text-dark w-100">
        <div class="card flex-fill h-100">
          <img src="/assets/tree.jpg" class="card-img-top img-fluid fixed-img" alt="Tree Plantation">
          <div class="card-body">
            <h5 class="card-title">Animal Feeding</h5>
          </div>
        </div>
      </a>
    </div>

  </div>
</body>
